

  
        body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:cornflowerblue;
    margin-left: 0px;
        }
  .ip1{
    width: 580px;
    margin: 5px 0 22px 0;
     background-color:lightgray;
    outline: none;
  }
  .ip2{
    width: 580px;
    margin: 5px 0 22px 0;
     background-color: lightgray;
    outline: none;
  }
  .ip3{
    width: 580px;
    margin: 5px 0 22px 0;
     background-color:lightgrey;
    outline: none;
  }
  .ip4{
    width:580px;
    margin: 5px 0 22px 0;
     background-color:lightgray;
    outline: none;
  }
  .ip5{
    width:580px;
    margin: 5px 0 22px 0;
     background-color:lightgray;
    outline: none;
  }
  .ip6{
    width:580px;
    margin: 5px 0 22px 0;
     background-color:lightgrey;
    outline: none;
  }
  .ip7{
    width:580px;
    margin: 5px 0 22px 0;
     background-color:lightgray;
    outline: none;
  }
  .ip9{
    width: 580px;
    margin: 5px 0 22px 0;
     background-color: lightgrey;
    outline: none;
  }
  .ip10{
    width:580px;
    margin: 5px 0 22px 0;
     background-color:lightgrey;
    outline: none;
  }
  .ip11{
    width: 580px;
    margin: 5px 0 22px 0;
     background-color: lightgrey;
    outline: none;
  }
  .ip12
  {
    background-color: cornflowerblue;
  }
  .table{color:black;
    background-color:wheat;
  }   
  .foot{
    margin: left 0px;;
    background-color: blueviolet;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color:wheat;
     color:black;
     text-align: center;
  }  
  .button
  {
border-radius: 25px;
background-color: blue;
  }
  